.all {
    display: flex;
    flex-direction: row;

    background-color: #040D12;
    height: 100vh;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bannerImg {
    position: absolute;
    top: 0;
    right: 0;
}

.pic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-gap: 1.5rem;
}

.card {
    width: 60%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
}

.Img {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.name {
    position: absolute;
    bottom: 35%;
    left: 70%;
    font-size: 5vw;
    color: #F94C10;
}

@media screen and (max-width: 800px) {

    .container {
        flex-direction: column;
        /* Cards will stack on top of each other on smaller screens */
        align-items: center;
    }

    .card {
        width: 80%;
        /* Adjust the width of the card for mobile screens */
        margin: 10px 0;
        /* Add spacing between stacked cards */
    }


}